body {
    margin: 0;
    padding: 0;
}

#logo {
    max-width: 50px;
    max-height: 50px;
}

.container {
    max-height: 77.5vh;
    overflow-y: auto;
}

.custom-button-width {
    width: 80px !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #007bffa4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1;
}

@media screen and (max-width: 600px) {
    .container {
        max-height: 75vh;
    }

    .custom-button-width {
        width: 70px !important;
        margin-top: 1.5px;
    }

    .table {
        text-align: center;
    }

    th,
    td {
        vertical-align: middle;
    }

    h1 {
        margin-bottom: 0.1rem !important;
    }
}